@import './base.css';

#app {
  margin: 0 auto;
  padding: 4rem;

  font-weight: normal;
}

/* Nav CSS */

.wrapper {
display: flex;
flex-wrap: nowrap;
}

nav a {
  text-decoration: none;
}

/* About page CSS */
.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.admin_project_card {
border: 2px solid #000000;
margin: 10px;
padding: 10px;

}

/* 
@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */
