@import './base.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  overflow: hidden;
}

.admin_project_card {
border: 2px solid #000000;
margin: 10px;
padding: 10px;
}



/* 
@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */
